{% extends "blog/base.html" %}

{% block content %}
{% if posts %}
        {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                 <div class="article-metadata">
                    <h2>{{ post.title }}
                        <span style="
                        font-style: italic;
                        font-size: 1rem;
                        text-align: right;
                        float: right;"
                        > by {{ post.author }} on {{post.date_posted }}</span>
                    </h2>                 
                </div>
                 <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
        {% endfor %}
    {% else %}
        <p>Damn, no posts</p>
    {% endif %}
{% endblock %}
