{% extends "blog/base.html" %}
{% load crispy_forms_tags%}

{% block content %}
    <div class="content-container">
        <div class="media row flex-nowrap justify-content-between align-items-center">
            {% if user.profile.image %}
                <img class="col-4 rounded-circle profile-img" src="{{ user.profile.image.url }}">
                <div class="col-2 profile-media">
                    <h2 class="profile-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            {% else %}
                <img class="col-4 rounded-circle profile-img" src="/media/default.jpg">
                <div class="col-2 profile-media">
                    <h2 class="profile-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}